In [1]:
import os
import pandas as pd
from surprise import Reader, Dataset

In [6]:
DATA_DIR = os.getcwd()
DUMP_FILE = os.path.join(DATA_DIR,'data','dump.pkl')

In [7]:
def load_dataframes():
    return pd.read_pickle(DUMP_FILE)

In [20]:
df = load_dataframes()

In [21]:
reviews = df['reviews']
reviews.head()

,id,store,user,score,content,reg_time
0,1,15,68632,5,전포 윗길에 새로 생긴! 호주에서 온 쉐프가 직접 요리하는 호주식 레스토랑!,1970-01-01 00:00:00
1,2,18,389728,5,샌드위치 내용물도 알차게 들어있고 맛있었어요 가성비 추천,1970-01-01 00:00:00
2,3,19,68716,4,홈플러스 1층 매장 푸드코트 내 있는 매장인데 계란찜정식은 처음보고 시켜봣는데 사진...,1970-01-01 00:00:00
3,4,37,774353,2,"전 여기 5년전에 가봤었는데 그때 기억은 별로였어요\n단체손님이 많았고, 차려지는건...",1970-01-01 00:00:00
4,5,38,115682,3,친구들끼리 술 간단하게마시러 감. 스끼다시 괜찮지만 회 양이 조금 부족한 느낌. 맛...,2019-03-15 22:16:47

In [22]:
reviews=reviews.drop(columns=['content','reg_time'])

In [23]:
reviews.head()

   id  store    user  score
0   1     15   68632      5
1   2     18  389728      5
2   3     19   68716      4
3   4     37  774353      2
4   5     38  115682      3

데이터는 준비해둠 (reviews)

Scale만 지정해주고, 필요한 칼럼만 설정해주면 전부다

In [24]:
reader = Reader(rating_scale=(0.5,5.0))
data=Dataset.load_from_df(reviews[['id','store','score']], reader)

In [25]:
type(data)

surprise.dataset.DatasetAutoFolds

#### k-fold를 10로 나누고, 제일높게 나온 알고리즘을 확인해보자

In [31]:
# split data into 5 folds
#data.split(n_folds=5)

from surprise import SVD
from surprise import NMF
from surprise import KNNBasic
from surprise.model_selection import cross_validate

# svd
algo = SVD()
#evaluate(algo, data, measures=['RMSE'])
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=10, verbose=True)

'''# nmf
algo = NMF()
#evaluate(algo, data, measures=['RMSE'])
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

# knn
algo = KNNBasic()
#evaluate(algo, data, measures=['RMSE'])
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)'''

Evaluating RMSE, MAE of algorithm SVD on 10 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Fold 6  Fold 7  Fold 8  Fold 9  Fold 10 Mean    Std
RMSE (testset)    1.1035  1.1102  1.0886  1.1053  1.1097  1.1001  1.0916  1.0985  1.0920  1.1019  1.1001  0.0071
MAE (testset)     0.8589  0.8542  0.8439  0.8595  0.8600  0.8531  0.8479  0.8506  0.8486  0.8493  0.8526  0.0052
Fit time          4.92    4.92    5.86    5.42    4.50    4.46    5.50    4.25    5.83    5.22    5.09    0.54
Test time         0.08    0.05    0.05    0.08    0.05    0.08    0.05    0.05    0.05    0.08    0.06    0.02

"# nmf\nalgo = NMF()\n#evaluate(algo, data, measures=['RMSE'])\ncross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)\n\n# knn\nalgo = KNNBasic()\n#evaluate(algo, data, measures=['RMSE'])\ncross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)"

In [32]:
algo = KNNBasic()
#evaluate(algo, data, measures=['RMSE'])
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=10, verbose=True)

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNBasic on 10 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Fold 6  Fold 7  Fold 8  Fold 9  Fold 10 Mean    Std
RMSE (testset)    1.1895  1.1999  1.2035  1.2008  1.1840  1.1956  1.1773  1.1747  1.1792  1.1914  1.1896  0.0099
MAE (testset)     0.8862  0.8965  0.8997  0.8974  0.8843  0.8996  0.8818  0.8811  0.8825  0.8970  0.8906  0.0076
Fit time          6.83    7.24    7.06    7.00    7.01    7.00    7.03    7.09    7.03    7.02    7.03    0.09
Test time         0.12    0.12    0.12    0.12    0.12    0.13    0.12    0.12    0.12    0.12    0.12    0.00

{'test_rmse': array([1.18950403, 1.19986752, 1.20353333, 1.20082865, 1.18397414,
        1.19556307, 1.17728514, 1.1747219 , 1.17923335, 1.19143716]),
 'test_mae': array([0.88620876, 0.89651326, 0.89967154, 0.89736087, 0.88425274,
        0.89960997, 0.88175029, 0.88108855, 0.88246388, 0.8969708 ]),
 'fit_time': (6.828902959823608,
  7.237061023712158,
  7.063495874404907,
  6.996703624725342,
  7.008540153503418,
  7.003770351409912,
  7.029369831085205,
  7.087965488433838,
  7.034793138504028,
  7.0217554569244385),
 'test_time': (0.12099933624267578,
  0.12206578254699707,
  0.1180272102355957,
  0.11800217628479004,
  0.11603784561157227,
  0.12703680992126465,
  0.11701440811157227,
  0.11599993705749512,
  0.11599516868591309,
  0.1160268783569336)}

# 아니 여기서 협업필터링 어떻게 가져오는거임???